{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row bg-light p-5 col-md-6 offset-md-3 rounded">
            {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('login') }}" method="post">
                <div class="mb-3">
                    <label for="formGroupUsernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="formGroupUsernameInput" placeholder="Username" name="_username" value="{{ last_username }}">
                </div>
                <div class="mb-3">
                    <label for="formGroupPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="formGroupPassword" name="_password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
